# Configuración de Turso SQLite DB
VITE_TURSO_DATABASE_URL="libsql://your-database-name.turso.io"
VITE_TURSO_AUTH_TOKEN="your-turso-auth-token-here"

# Credenciales por defecto del Administrador
VITE_ADMIN_DEFAULT_EMAIL="admin@nebuladb3d.com.co"
VITE_ADMIN_DEFAULT_PASSWORD="Nebulab26*"
